@using Microsoft.AspNetCore.Http;
@using NetBanking.Core.Application.Enums;
@using NetBanking.Core.Application.ViewModel.SavingAccount;
@using NetBanking.Core.Application.ViewModel.Transaction;
@using NetBanking.Core.Application.ViewModel.Loan;
@inject IHttpContextAccessor httpContextAccessor
@model SaveTransactionVM;
@{
    ViewData["Title"] = "Pago Prestamo";
    List<SavingAccountVM> savingAccountVMs = ViewBag.SavingAccounts;
    List<LoanVM> loanVMs = ViewBag.Loans;
    Model.TransactionTypeId = (int)TransactionType.PagoDePrestamo;
}

<body>
    <div class="container ">
        <div class="row justify-content-center pt-5 mt-5 m-1">
            <div class="col-md-6 col-sm-8 col-xl-4 col-lg-5 formulario">
                @if (Model.HasError)
                {
                    <div class="alert bg-white alert-dismissible fade show mb-2" role="alert">
                        <h2 class="text-dark">@Model.ErrorMessage</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }


                <form method="post" asp-controller="Payment" asp-action="PaymentLoan" enctype="multipart/form-data">

                    <div class="form-group text-center pt-3">
                        <h1 class="text-light">Pago Prestamo</h1>
                    </div>

                    <div class="form-group mx-sm-4 pt-3 mb-2">
                        <select asp-for="DestinationAccountNumber" asp-items="@(new SelectList(loanVMs,"IdentifyingNumber", "IdentifyingNumber"))" type="text" class="form-select mb-3">
                            <option value="0">Seleccione un Prestamo</option>

                        </select>
                        <span asp-validation-for="DestinationAccountNumber" class="text-white"> </span>
                    </div>

                    <div class="form-group mx-sm-4 pt-3 mb-2">
                        <input asp-for="Amount" class="form-control" placeholder="Ingrese la Cantidad">
                        <span asp-validation-for="Amount" class="text-white"></span>
                    </div>
                    <div class="form-group mx-sm-4 pt-3 mb-2">
                        <select asp-for="OriginAccountNumber" asp-items="@(new SelectList(savingAccountVMs,"IdentifyingNumber", "IdentifyingNumber"))" type="text" class="form-select mb-3">
                            <option value="0">Seleccione un Usuario</option>

                        </select>
                        <span asp-validation-for="OriginAccountNumber" class="text-white"> </span>
                    </div>
                    <input asp-for="TransactionTypeId" class="form-control" hidden>
                    <div class="form-group text-center mt-4 mb-5">
                        <button type="submit" class="btn btn-primary btn-outline-dark" style="background-color: #2f5b75; color: white;">Realizar Pago</button>
                        <a asp-controller="Client" asp-action="Index" class="btn btn-dark">Volver atras</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<style>
    body {
        background-color: #dcd2ff;
    }

    .formulario {
        background: rgba(0, 0, 0, .1);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
        color: white;
    }

    .form-control {
        border-style: none;
        transition: 0.5s ease-in;
        outline: none;
        box-shadow: none;
    }

        .form-control:focus {
            background: none;
            box-shadow: none;
            outline: none;
        }

        .form-control::placeholder {
            color: black;
        }

    .ingresar {
        background: #222A3F;
        padding: 10px;
        font-size: 16px;
        font-weight: 700 !important;
        color: white;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
        transition: 0.5s ease-in;
    }

        .ingresar:hover {
            color: white;
        }

    .olvide {
        color: white;
        text-decoration-style: none;
        text-decoration-line: none;
    }

        .olvide:hover {
            color: white;
            text-decoration-style: none;
            text-decoration-line: none;
            cursor: pointer;
        }

    .olvide1 {
        color: white;
        text-decoration-style: none;
        text-decoration-line: none;
        font-size: 20px;
        font-weight: 700 !important;
        padding: 10px;
        border-radius: 10px;
        background: rgba(0, 0, 0, .5);
    }

        .olvide1:hover {
            color: white;
            text-decoration-style: none;
            text-decoration-line: none;
            cursor: pointer;
        }
</style>